<div class="bannerlist" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>');">
  <div class="container h-100 text-center">
    <h1> <%= @list.name %></h1>
  </div>
</div>
<div class="container py-3">
  <div class="d-flex justify-content-end my-4">
    <%= link_to new_list_bookmark_path(@list) do %>
    <i class="fa-solid fa-plus fa-lg px-2" style="color: #009957;"> add movie  </i>
    <% end %>
    <%= link_to list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
    <i class="fa-solid fa-xmark fa-lg px-1" style="color: #cc0000;"> delete list</i>
    <% end %>
  </div>
  <div class="row my-2">
    <% @bookmarks.each do |bookmark| %>
        <% movie = bookmark.movie %>
        <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
          <div class='bg-white rounded shadow h-100'>
            <img src="" alt="" class="movie-img rounded-top">
            <div class='p-3 rounded-bottom d-flex flex-column'>
              <strong>
                <%= movie.title %>
                <span class="text-muted font-weight-normal"></i>
                  <%= movie.rating %>/10
                </span>
              </strong>
              <small class="text-muted"><%= movie.overview %></small>
              <div class="d-flex align-items-end justify-content-between pt-4">
                <div class="w-100 d-flex justify-content-between">
              <i class="fas fa-quote-left me-2"></i>
                  <small class="flex-grow-1"><%= bookmark.comment%></small>
                  <%= link_to bookmark_path(bookmark.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-solid fa-xmark fa-lg" style="color: #cc0000;"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>
</div>
