<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container h-100 text-center">
    <h1> <%= @list.name %></h1>
  </div>
</div>
<div class="container py-3">
  <div class="d-flex justify-content-end my-4">
    <%= link_to "add movie", new_list_bookmark_path(@list), class:"btn btn-success mx-1" %>
    <%= link_to "delete this list", list_path(@list), class:"btn btn-danger mx-1", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <%= link_to "my lists", lists_path, class:"btn btn-primary mx-2"%>
    <%= link_to "create a list", new_list_path, class:"btn btn-success mx-1"  %>
  </div>
  <div class="row my-2">
    <% @bookmarks.each do |bookmark| %>
        <% movie = bookmark.movie %>
        <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
          <div class='bg-white rounded shadow h-100'>
            <img src="" alt="" class="movie-img rounded-top">
            <div class='p-3 rounded-bottom d-flex flex-column'>
              <strong>
                <%= movie.title %>
                <span class="text-muted font-weight-normal"></i>
                  <%= movie.rating %>/10
                </span>
              </strong>
              <i class="fas fa-quote-left me-2">
              <small class="text-muted"><%= movie.overview %></small>
              <div class="d-flex align-items-end justify-content-between pt-4">
                <div class="w-100 d-flex justify-content-between">
                  <small class="flex-grow-1"><%= bookmark.comment%></small>
                  <%= link_to "<i class='fa-sharp fa-thin fa-circle-xmark fa-lg' style='color: #ff0a0a;'></i> delete".html_safe,
            bookmark_path(bookmark.id), class: "btn btn-danger mx-1", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                </div>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>
</div>
